<div class="container=" id="bio"> 
    top left corner
    <div class="row">
        <div>
            <img href="https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwiUkOnosODjAhWwiOAKHTKsCRoQjRx6BAgBEAU&url=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FBatman&psig=AOvVaw3lXteW9MAMlbgcgv8nQh-a&ust=1564704527331943">
            <p>
                Name: Batman
                Power: Detective
                Level: 10,000
                Strength: Crime Solving
                Weakness: Talia Al'Ghul
                Origin: Gotham City
            </p>
        </div>

        <div class="Battle History"> top right corner
            <p>Wins: </p>
            <p>Loses: </p>
        </div>

        <div class="friend list"> top right under battle history
            <p>
                list of friends here (array)
            </p>
        </div>

        <div class="challengers"> bottom left under bio
            <p>
                list of challenegrs (array)
            </p>
        </div>
    </div>
</div>