<div class="container">
    <div class="row">
        <form>
            <h1>Sign Up for the Battle for the Comic Multiverse!</h1>
                <p>Fill out your information to start your journey!</p>
            <hr>
                <label id="email"><b>Email</b></label>
                <input type="text" placeholder="Email" name="email" required>
            <hr>
                <label id="password"><b>Password</b></label>
                <input type="text" placeholder="Password" name="password" required>
            <hr>
                <label id="cpassword"><b>Confirm Password</b></label>
                <input type="text" placeholder="Confirm Password" name="cpassword" required>
                
                <label>
                    <input type="checkbox" checked="checked" name="remember" style="margin-bottom:10px"> Remember Me
                </label>

                <div class="submit">
                    <button type="submit" class="signupbtn">Sign Up</button>                
                </div>

                <hr>
                <hr>

                <h3>Log In</h3>
                
                <hr>
                
                <label id="email"><b>Email</b></label>
                <input type="text" placeholder="Email" name="email" required>
                
                <hr>
                
                <label id="password"><b>Password</b></label>
                <input type="text" placeholder="Password" name="password" required>
                
                <hr>
                
                <div class="login">
                    <button type="login" class="loginbtn">Log In</button>                
                </div>
                
                <label>
                    <input type="checkbox" checked="checked" name="loggedin" style="margin-bottom:10px"> Keep Me Logged In
                </label>
        </form>
    </div>
</div>